*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 去除小点 */
li{
  list-style: none;
}
/* 去除下划线 */
a{
  text-decoration: none;
}
/* 去除浮动影响 */
.clearfix::before, 
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after{
  clear: both;
}

body{
  background-color: #f3f5f7;
}
/* 版心 */
.wrapper{
  width: 1200px;
  margin: 0 auto;
}
/* 头部 */
.header{
  height: 42px;
  margin: 30px auto;
}

.header>h1{
  float: left;
}

/* 导航 */
.nav{
  float: left;
  margin-left: 70px;
  height: 42px;
}
.nav li {
  float: left;
  margin-right: 26px;
}
.nav li a {
  display: block;
  padding: 0 9px;
  height: 42px;
  line-height: 42px;
  
  font-size: 18px;
  color: #050505;
}
.nav li a:hover{
  border-bottom: 2px solid #00a4ff;
}

/* 搜索 */
.search{
  float: left;
  width: 412px;
  height: 42px;
  border: 1px solid #00a4ff; 
   
}
.search input{
  float: left;
  padding-left: 20px;
  width: 360px;
  height: 40px;
}
.search input::placeholder{
  font-size: 14px;
  color: #bfbfbf;
}
.search button {
  float: left;
  width: 50px;
  height: 40px;
  background-image: url(../images/btn.png);
}

/* 用户 */
.user{
  float: right;
  margin-right: 35px;
  height: 42px;
  line-height: 42px;
}
.user img{
  /* 调节图片垂直对齐方式，middle:居中 */
  vertical-align: middle;
}

/* 轮插图 */
/* 整体框架 */
.banner {
  height: 420px;
  background-color: #1c036c;
}
.banner .wrapper {
  height: 420px;
  background-image: url(../images/banner2.png);
}
/* 左部分 */
.banner .left {
  float: left;
  padding: 0 20px;
  width: 190px;
  height: 420px;
  background-color: rgba(0,0,0,0.3);
}
/* 左部分内部细节 */
.banner .left li{
  /* display: block; */
  line-height: 44px;
  font-size: 14px;
  text-align: left;
}
.banner .left a{
  color: #d3d1d9;
}
.banner .left a:hover{
  color: #00a4ff;
}
.banner .left span{
  float: right;
}
/* 右部分 */
.banner .right{
  float: right;
  width: 230px;
  height: 300px;
  background-color: #ffffff;
  margin-top: 50px;
}
/* 右部分内部细节 */
.banner .right h3 {
  height: 48px;
  background-color: #9bceea;
  text-align: center;
  line-height: 48px;
  font-size: 18px;
  color: #fff;
}
.banner .right .content{
  padding: 0 18px;
}
.banner .right .content dl{
  padding: 12px 0;
  border-bottom: 2px solid #e5e5e5;
}
.banner .right .content dt{
  font-size: 16px;
  color: #4e4e4e;
}
.banner .right .content dd{
  font-size: 14px;
  color: #4e4e4e;
}
.banner .right .more{
  display: block;
  width: 200px;
  height: 40px;
  margin: 4px auto 0;
  border: 1px solid #00a4ff;

  font-size: 16px;
  color: #00a4ff;
  font-weight: 700;

  text-align: center;
  line-height: 40px;
}

/* 精品推荐 */
.goods{
  margin-top: 8px;
  padding-left: 34px;
  padding-right: 26px;
  width: 1200px;
  height: 60px;
  background-color: #ffffff;
	box-shadow: 0px 2px 3px 0px 
		rgba(118, 118, 118, 0.2);
  line-height: 60px;
  margin: 0 auto;
}
.goods h3 {
  float: left;
  font-size: 16px;
  color: #00a4ff;
  font-weight: 400;
}
.goods ul{
  float: left;
  margin-left: 30px;
}
.goods ul li{
  float: left;
}
.goods li a{
  border-left: 1px solid #bfbfbf;
  padding: 0 30px;
  font-size: 16px;
  color: #050505;
}
.goods .xingqu{
  float: right;
  font-size: 14px;
}

/* 精品推荐课程 */
.box{
  margin-top: 35px;
}
.box .title{
  height: 40px;
}
.box .title h2{
  float:left;
  font-size:20px;
  color: #494949;
  font-weight: 400;
}
.box .title a{
  float: right;
  margin-right: 30px;
  font-size: 12px;
  color: #a5a5a5;
}
.box>.content li{
  float: left;
  margin-right: 8.75px;
  margin-bottom: 15px;
  width: 233px;
  height: 270px;
  background-color: #fff;
}
.box>.content li:nth-child(5n){
  margin-right: 0;
}
.box .content li h3{
  padding: 20px;
  font-size: 14px;
  color: #050505;
  font-weight: 400;
}
.box .content li p{
  padding: 0 20px;
  font-size: 12px;
  color: #999;
}
.box .content li span{
  color: #ff7c2d;
}

/* 版权 */
.footer{
  margin-top: 40px;
  padding-top: 30px;
  height: 417px;
  background-color: #fff;
}
.footer .left{
  float: left;
}
.footer .right{
  float: right;
}
.footer .left p{
  margin: 20px 0 10px;
  font-size: 12px;
  color: #666;
}
.footer .left a{
  display: block;
  width: 120px;
  height: 36px;
  border: 1px solid #00a4ff;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  color: #00a4ff;
}
.footer .right dl{
  float: right;
  margin-left: 120px;
}